{% extends 'main/base.html'%} {% block data_block %}
<div class="container">
    <div class="card w-100 mt-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ comment.comment_autor }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ comment.pub_date }}</h6>
            <p class="card-text">{{ comment.comment_text }}</p>
            <a href="{% url 'main:detail' comment.question.id %}" class="btn btn-secondary">Retornar à enquete</a>
            <a href="{% url 'main:index' %}" class="btn btn-primary">Retornar à página inicial</a>
        </div>
    </div>
</div> {% endblock %}