{% extends 'main/base.html'%} {% block data_block %}

<div class="container">
    <div class="card w-100 mt-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ question.question_text }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ comment.pub_date }}</h6>
            {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            <form action="{% url 'main:vote' question.id %}" method="post">
                {% csrf_token %} {% for choice in question.choice_set.all %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label class="form-check-label" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                </div>
                {% endfor %}
                <input class="btn btn-primary" type="submit" value="Vote">
            </form>
        </div>
    </div>
    <ul class="list-group">
        <h5 class="list-group-item">
            Comments
        </h5>
        {% for comment in question.comment_set.all %}
        <li class="list-group-item">
            <a href="{% url 'main:comment' comment.id %}">
                    {{ comment.comment_text }}
                </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}