{% extends 'main/base.html'%} {% block data_block %} {% if latest_question_list %}
<div class="container">
    <ul class="list-group mt-3">
        <h3 class="list-group-item">Perguntas</h3>
        {% for question in latest_question_list %}
        <li class="list-group-item">
            <a href="{% url 'main:detail' question.id %}">
            {{ question.question_text }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Nenhuma questão disponível.</p>
</div>
{% endif %} {% endblock %}