{% extends 'main/base.html'%} {% block data_block %}
<div class="container">
    <div class="card w-100 mt-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ question.question_text }}</h5>
            <ul class="list-group">
                {% for choice in question.choice_set.all %}
                <li class="list-group-item">
                    {{ choice.choice_text }} -- {{ choice.votes }} voto {{ choice.votes|pluralize }}
                </li>
                {% endfor %}
            </ul>
            <a href="{% url 'main:detail' question.id %}" class="btn btn-secondary">Votar de novo.</a>
            <a href="{% url 'main:index' %}" class="btn btn-primary">Retornar à página inicial</a>
        </div>
    </div>
</div> {% endblock %}